{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "printWidth": 100,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*interceptor.ts",
      "options": {
        "tabWidth": 4,
        "printWidth": 120
      }
    },
    {
      "files": "*guard.ts",
      "options": {
        "tabWidth": 4,
        "printWidth": 120
      }
    },
    {
      "files": "*model.ts",
      "options": {
        "tabWidth": 4,
        "printWidth": 120
      }
    },
    {
      "files": "*service.ts",
      "options": {
        "tabWidth": 4,
        "printWidth": 120
      }
    }
  ]
}