.form-container {
  //height: calc(100vh - 64px);
  min-height: 100%;
  background-color: transparent;
  padding: 1rem 1rem;
  margin-top: 0;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.form-card {
  width: 100%;
  max-width: 600px;
  height: auto;

  background: white !important;
  border-top: 5px solid var(--kaliik-primary);
  border-radius: 12px !important;

  box-shadow: var(--card-shadow) !important;

  padding: 1rem 2rem;
  margin-bottom: 2rem;

  mat-card-header {
    margin-bottom: 1.5rem;
    padding: 0 1rem;
    padding-top: 0.5rem;

    mat-card-title {
      font-size: 1.5rem;
      font-weight: 500;
      color: var(--kaliik-tertiary);
      letter-spacing: 0.5px;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.full-width {
  width: 100%;
}

.row {
  display: flex;
  gap: 1rem;

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 1rem;
  }

  .half-width {
    flex: 1;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;

  margin-top: 1rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--bg-light);

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 12px;
  }

  button[mat-flat-button] {
    height: 45px;
    padding: 0 2rem;
    font-weight: 600;
    text-transform: uppercase;

    background-color: var(--kaliik-primary);
    color: white !important;

    box-shadow: var(--card-shadow);
    letter-spacing: 1px;

    @media (max-width: 600px) {
      width: 100%;
    }

    &:disabled {
      background-color: var(--bg-light) !important;
      color: var(--text-body) !important;
      font-weight: 500;
      letter-spacing: 0;

      box-shadow: none;
      cursor: not-allowed;
    }
  }

  button[mat-button] {
    height: 45px;
    padding: 0 2rem;
    text-transform: uppercase;

    color: var(--kaliik-warning) !important;
    background-color: color-mix(in srgb, var(--kaliik-warning), transparent 90%);
    font-weight: 500;

    @media (max-width: 600px) {
      width: 100%;
    }

    &:hover {
      letter-spacing: 1px;
      font-weight: 600;
      background-color: var(--kaliik-warning);
      color: var(--bg-light) !important;
    }
  }
}

::ng-deep {
  .mat-mdc-form-field {
    .mat-mdc-text-field-wrapper {
      background-color: var(--bg-light) !important;
      height: 45px !important;
      padding-left: 12px !important;
      padding-right: 12px !important;
    }

    .mat-mdc-form-field-infix {
      padding-top: 10px !important;
      padding-bottom: 0 !important;
      min-height: 45px !important;
      height: 45px !important;
      display: flex;
      align-items: center;
    }

    input.mat-mdc-input-element {
      margin-top: 0 !important;
      position: relative;

      color: var(--text-body) !important;
      font-weight: 500;

      &::placeholder {
        color: var(--text-body) !important;
      }
    }

    &:not(.mat-form-field-should-float) .mat-mdc-floating-label {
      top: 50% !important;
    }

    .mat-mdc-floating-label,
    .mat-mdc-form-field-icon-suffix,
    .mat-mdc-form-field-text-prefix,
    .mat-mdc-select-value {
      color: var(--text-body) !important;
      font-weight: 500 !important;
    }

    .mat-mdc-select-arrow {
      color: var(--kaliik-tertiary) !important;
    }

    &.mat-focused {
      .mat-mdc-floating-label {
        color: var(--kaliik-tertiary) !important;
      }
      .mat-mdc-form-field-text-prefix {
        color: var(--kaliik-tertiary) !important;
      }
      .mdc-line-ripple::after {
        border-bottom-color: var(--kaliik-tertiary) !important;
      }
    }
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  padding: 4rem;
}
